@charset "utf-8";
@import "../node_modules/bulma/sass/base/minireset.sass";
@import "../node_modules/bulma/sass/base/generic.sass";

html,
body,
#container {
  width: 500px;
  height: 600px;
  overflow: hidden;
}

body {
  background: #eee;
  color: #777;
  padding: 0;
  overflow: hidden;
  a {
    color: #888;
  }
  mark {
    font-weight: bold;
    color: #356ba9;
    background: none;
  }
  small {
    color: #AAA;
  }
}

#search {
  width: 100%;
  overflow: hidden;
}
.input,
.input:active,
.input:focus {
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  height: 55px;
  padding: 4px 8px;
  font-size: 24px;
  border-radius: 0;
  border: none;
  outline: none;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.badge {
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
  margin-right: 4px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: -3px;
}
.tags {
  background: #557292;
  .divider:before {
    content: " ";
  }
  mark {
    color: #7cb3f6;
  }
  small {
    color: #a2bbd6;
  }
}
.folder {
  background: #559292;
  .divider:before {
    content: " \276F \0020";
  }
  mark {
    color: #85dbdb;
  }
  small {
    color: #a3d0d0;
  }
}
.score {
  background: rgb(116, 116, 116);
  color: #DDD;
}
.last-visited {
  background: rgb(142, 187, 38);
  color: #FFF;
}
.visit-counter {
  background: rgb(187, 172, 38);
  color: #FFF;
}
.error-message {
  background: rgb(187, 38, 38);
  color: #FFF;
}
.url {
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.controls {
  text-align: right;
  position: absolute;
  bottom: 12px;
  right: 8px;
  .cancel-button {
    background: rgb(201, 68, 68) !important;
    color: #FFF !important;
  }
  .help-button {
    background: rgb(68, 148, 201) !important;
    color: #FFF !important;
  }
  .reset-button {
    background: #777 !important;
    color: #FFF !important;
  }
  .save-button {
    background: rgb(95, 201, 68) !important;
    color: #FFF !important;
  }
  a,
  a:hover {
    background: #777;
    color: #FFF;
    margin: 0 0 0 8px;
    padding: 2px 12px 4px 12px;
    border: none;
    font-size: 16px;
  }
}
#result-list {
  padding: 4px 6px 0 4px;
  height: 523px;
  overflow-x: hidden;
  overflow-y: scroll;

  li {
    background-color: #fff;
    margin: 0 0 4px 0;
    padding: 4px;
    border-radius: 3px;
    overflow: hidden;    
  }
  #selected-result {
    background-color: #dadada;
  }
  li.tab {
    border-left: 6px solid #b89aff;
  }
  li.bookmark {
    border-left: 6px solid #559292;
  }
  li.history {
    border-left: 6px solid rgb(158, 206, 47);
  }
  li.search {
    border-left: 6px solid rgb(206, 150, 47);
  }
  .edit-button {
    float: right;
  }
  .title {
    font-size: 18px;
    margin: 0;
    font-weight: 400;

    a {
      color: #333;
      margin-right: 4px;
    }
  }
  
}
#links {
  height: 22px;
  width: 500px;
  position: absolute;
  top: 578px;
  left: 0;
  background: #FFF;
  padding: 0 8px;
  font-size: 14px;

  #result-counter {
    float: right;
  }
}

#tags-overview,
#folders-overview {
  position: fixed;
  top: 55px;
  left: 0;
  width: 500px;
  height: 524px;
  background: #EEE;
  padding: 4px 8px;
  overflow-x: hidden;
  overflow-y: scroll;

  #tags-list,
  #folders-list {
    width: 100%;
    a,
    a:hover {
      color: #FFF;
      font-size: 15px;
      margin: 4px 4px 0 0;
    }
  }
}

/** EDIT BOOKMARK */

#edit-bookmark {
  padding: 0;
  overflow: none;
  position: fixed;
  top: 55px;
  left: 0;
  width: 500px;
  height: 524px;
  background: #EEE;

  #bookmark-title {
    height: 105px;
    resize: none;
  }
  #bookmark-tags,
  .tagify  {
    height: 85px;
    font-size: 18px;
    border: none;
    padding: 4px 2px;
    overflow-x: hidden;
  }
  .input-description {
    margin: 4px 0 2px 8px;
    font-size: 12px;
  }
}

#options {
  width: 500px;
  height: 580px;
  position: fixed;
  
  .input-description {
    margin: 4px;
  }
  textarea {
    height: 500px;
    font-size: 18px;
    font-family: Consolas, monospace, monospace;
    resize: none;
  }
}

/** CUSTOMIZE TAGIFY STYLE */

.tagify {
  height: 90px;
  border: none;

  --tag-bg                  : #557292;
  --tag-hover               : #5c84af;
  --tagify-dd-color-primary : #557292;
  --tag-text-color          : #FFF;
  --tag-text-color--edit    : #111;
  --tag-remove-bg           : var(--tag-hover);
  --tag-pad                 : 2px 8px 4px 8px;
  --tag-inset-shadow-size   : 1.35em;
  --tag-remove-btn-bg--hover: black;
}
.tagify__tag {
  margin: 6px 0 5px 6px;
}
.tagify__tag>div {
  font-size: 15px;
}
.tagify__dropdown {
  max-height: 235px;
  border: none;
}
.tagify__dropdown__wrapper {
  border: none;
}
.tagify__dropdown__item {
  padding: 3px 8px 3px 8px;
}
.tagify__dropdown__item--active {
  background: #557292;
}


/** SCROLLBAR */
#result-list::-webkit-scrollbar,
#tags-overview::-webkit-scrollbar,
#folders-overview::-webkit-scrollbar {
  width: 8px;
  margin-left: 4px;
  padding-left: 0px;
}
#result-list::-webkit-scrollbar-track,
#tags-overviewt::-webkit-scrollbar-track,
#folders-overview::-webkit-scrollbar-track {
  background: #ddd;
  padding-left: 2px;
}
#result-list::-webkit-scrollbar-thumb,
#tags-overview::-webkit-scrollbar-thumb,
#folders-overview::-webkit-scrollbar-thumb {
  background-color: #999;
}

/** DARK MODE **/
@media screen and (prefers-color-scheme: dark) {
  html,
  body,
  #edit-bookmark,
  #tags-overview,
  #folders-overview {
    background: #222;
    a,
    a:visited {
      color: #999;
    }  
    a:hover {
      color: #BBB;
    }
    mark {
      color: #6b92c0;
    }
  }
 
  .input,
  .input:active,
  .input:focus {
    background-color: #000;
    border-bottom: 1px solid #444;
    color: #DDD;
  }
  #result-list {
    li {
      background: #111;
    }
    #selected-result {
      background-color: #333;
    }
    .title {
      a {
        color: #d4d4d4;
      }
    }
  }
  #links {
    background: #000;
  }
  #result-list::-webkit-scrollbar-track,
  #tags-overview::-webkit-scrollbar-track,
  #folders-overview::-webkit-scrollbar-track {
    background: rgb(65, 65, 65);
  }
  #result-list::-webkit-scrollbar-thumb,
  #tags-overview::-webkit-scrollbar-thumb,
  #folders-overview::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
  }
  .input-description {
    color: #777;
  }
  .tagify__dropdown__wrapper {
    background: #111;
  }
  .tagify__dropdown__item {
    color: #CCC;
  }
}
