@charset "utf-8";
@import '../node_modules/bulma/sass/base/minireset.sass';
@import '../node_modules/bulma/sass/base/generic.sass';
@import '../node_modules/@yaireo/tagify/dist/tagify';

html,
body,
#container,
#search {
  width: 500px;
  height: 600px;
  overflow: hidden;
}
body {
  background: #eee;
  color: #777;
  padding: 0;
  a {
    color: #4494c9;
  }
  mark {
    font-weight: bold;
    color: #356ba9;
    background: none;
  }
  small {
    color: #aaa;
  }
}
.input,
.input:active,
.input:focus {
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  height: 55px;
  padding: 4px 8px;
  font-size: 24px;
  border-radius: 0;
  border: none;
  outline: none;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
#search-input {
  max-width: 473px;
  min-width: 473px;
}
.input-description {
  margin: 2px 4px;
}
#search-approach-toggle {
  float: right;
  height: 55px;
  width: 26px;
  padding: 0 3px 0 0;
  writing-mode: vertical-rl;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
#search-approach-toggle.fuzzy {
  color: #8667cd;
}
#search-approach-toggle.precise {
  color: #9dcd1b;
}
#search-approach-toggle.precise {
  color: #54c4d3;
}
code {
  background-color: #d5d5d5;
  color: #676767;
  border-radius: 3px;
  font-size: 0.75em;
  padding: 1px 4px;
}
.badge {
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
  margin-right: 4px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: -3px;
}
.tags {
  background: #557292;
  .divider:before {
    content: ' ';
  }
  mark {
    color: #7cb3f6;
  }
  small {
    color: #a2bbd6;
  }
}
.folder {
  background: #559292;
  .divider:before {
    content: ' \276F \0020';
  }
  mark {
    color: #85dbdb;
  }
  small {
    color: #a3d0d0;
  }
}
.window {
  background: #8061ca;
  color: #efe8ff;
}
.score {
  background: rgb(116, 116, 116);
  color: #ddd;
}
.last-visited {
  background: rgb(142, 187, 38);
  color: #fff;
}
.visit-counter {
  background: rgb(187, 172, 38);
  color: #fff;
}
.date-added {
  background: rgb(187, 140, 38);
  color: #fff;
}
.url {
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.controls {
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 100%;
  padding-left: 8px;
  .button {
    height: 28px;
    border-radius: 3px;
  }
  .reset-button,
  .delete-button {
    background: rgb(238, 67, 67) !important;
    color: #fff !important;
    float: left;
  }
  .cancel-button {
    background: rgb(146, 146, 146) !important;
    color: #fff !important;
  }
  .help-button {
    background: rgb(68, 148, 201) !important;
    color: #fff !important;
    float: left;
  }
  .save-button {
    background: rgb(95, 201, 68) !important;
    color: #fff !important;
  }
  a,
  a:hover {
    background: #777;
    color: #fff;
    margin: 0 0 0 8px;
    padding: 2px 12px 4px 12px;
    border: none;
    font-size: 16px;
  }
}
#result-list,
#error-list {
  padding: 4px 6px 0 4px;
  height: 523px;
  overflow-x: hidden;
  overflow-y: scroll;
  a {
    color: #888;
  }
  li {
    background-color: #fff;
    margin: 0 0 4px 0;
    padding: 4px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
  }
  #selected-result {
    background-color: #dadada;
  }
  li.tab {
    border-left: 6px solid #b89aff;
  }
  li.bookmark {
    border-left: 6px solid #559292;
  }
  li.history {
    border-left: 6px solid rgb(158, 206, 47);
  }
  li.search {
    border-left: 6px solid rgb(206, 150, 47);
  }
  li.error {
    color: rgb(204, 88, 88);
    border-left: 6px solid rgb(204, 88, 88);
  }
  .edit-button,
  .close-button {
    float: right;
  }
  .title {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: #333;
  }
}
#error-list {
  position: fixed;
  width: 494px;
  top: 55px;
  overflow-y: hidden;
  display: none;
}
#links {
  height: 22px;
  width: 500px;
  position: absolute;
  top: 578px;
  left: 0;
  background: #fff;
  padding: 0 8px;
  font-size: 14px;
  a {
    color: #888;
  }

  #result-counter {
    float: right;
  }
}

#tags-overview,
#folders-overview {
  position: fixed;
  top: 55px;
  left: 0;
  width: 500px;
  height: 524px;
  background: #eee;
  padding: 4px 8px;
  overflow-x: hidden;
  overflow-y: scroll;

  .input-description {
    margin: 4px 0px;
  }

  #tags-list,
  #folders-list {
    width: 100%;
    a,
    a:hover {
      color: #fff;
      font-size: 15px;
      margin: 4px 4px 0 0;
    }
  }
}

/** EDIT BOOKMARK */

#edit-bookmark {
  padding: 0;
  overflow: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 578px;
  background: #eee;

  #bookmark-title {
    height: 112px;
    resize: none;
    font-size: 1.2em;
  }
  #bookmark-url {
    height: 62px;
    resize: none;
    font-size: 0.85em;
  }
  #bookmark-tags,
  .tagify {
    height: 85px;
    font-size: 18px;
    border: none;
    padding: 4px 2px;
    overflow-x: hidden;
  }
}

#options {
  width: 500px;
  height: 580px;
  position: fixed;
  textarea {
    height: 426px;
    font-size: 18px;
    font-family: Consolas, monospace, monospace;
    resize: none;
    padding: 4px;
  }
  .help {
    padding: 2px 6px;
    background: #fff;
    border-left: 4px solid #4494c9;
  }
}

#tips {
  .tip {
    margin: 4px;
    padding: 2px 4px;
    background: #fff;
    border-radius: 3px;
  }
  .fuzzy {
    color: #d593ea;
  }
  .precise {
    color: #b1d354;
  }
  .hybrid {
    color: #54c4d3;
  }
}

/** CUSTOMIZE TAGIFY STYLE */

.tagify {
  height: 90px;
  border: none;

  --tag-bg: #557292;
  --tag-hover: #5c84af;
  --tagify-dd-color-primary: #557292;
  --tag-text-color: #fff;
  --tag-text-color--edit: #111;
  --tag-remove-bg: var(--tag-hover);
  --tag-pad: 2px 8px 4px 8px;
  --tag-inset-shadow-size: 1.35em;
  --tag-remove-btn-bg--hover: black;
}
.tagify__tag {
  margin: 6px 0 5px 6px;
}
.tagify__tag > div {
  font-size: 15px;
}
.tagify__dropdown {
  max-height: 235px;
  border: none;
}
.tagify__dropdown__wrapper {
  border: none;
}
.tagify__dropdown__item {
  padding: 3px 8px 3px 8px;
  background: #fff;
}
.tagify__dropdown__item--active {
  background: #557292 !important;
}

/** SCROLLBAR */
#result-list::-webkit-scrollbar,
#tags-overview::-webkit-scrollbar,
#folders-overview::-webkit-scrollbar,
#tips::-webkit-scrollbar,
.tagify__dropdown__wrapper::-webkit-scrollbar {
  width: 8px;
  margin-left: 4px;
  padding-left: 0px;
}
#result-list::-webkit-scrollbar-track,
#tags-overview::-webkit-scrollbar-track,
#folders-overview::-webkit-scrollbar-track,
#tip::-webkit-scrollbar-track,
.tagify__dropdown__wrapper::-webkit-scrollbar-track {
  background: #ddd;
  padding-left: 2px;
}
#result-list::-webkit-scrollbar-thumb,
#tags-overview::-webkit-scrollbar-thumb,
#folders-overview::-webkit-scrollbar-thumb,
#tips::-webkit-scrollbar-thumb,
.tagify__dropdown__wrapper::-webkit-scrollbar-thumb {
  background-color: #999;
}

/** DARK MODE **/
@media screen and (prefers-color-scheme: dark) {
  html,
  body,
  #edit-bookmark,
  #tags-overview,
  #folders-overview {
    background: #222;
    a,
    a:visited {
      color: #999;
    }
    a:hover {
      color: #bbb;
    }
    mark {
      color: #6b92c0;
    }
  }
  strong {
    color: #898989;
  }
  code {
    color: #898989;
    background-color: #333333;
  }
  #options {
    .help {
      background: #000000;
    }
  }
  #tips {
    .tip {
      background: #000;
    }
  }

  .input,
  .input:active,
  .input:focus,
  #search-approach-toggle {
    background-color: #000;
    border-bottom: 1px solid #444;
    color: #ddd;
  }
  #search-approach-toggle.fuzzy {
    color: #d593ea;
  }
  #search-approach-toggle.precise {
    color: #b1d354;
  }
  #search-approach-toggle.hybrid {
    color: #54c4d3;
  }
  #result-list,
  #error-list {
    li {
      background: #111;
    }
    #selected-result {
      background-color: #333;
    }
    .title {
      color: #d4d4d4;
    }
  }
  #links {
    background: #000;
  }
  #result-list::-webkit-scrollbar-track,
  #tags-overview::-webkit-scrollbar-track,
  #folders-overview::-webkit-scrollbar-track,
  #tips::-webkit-scrollbar-track,
  .tagify__dropdown__wrapper::-webkit-scrollbar-track {
    background: rgb(65, 65, 65);
  }
  #result-list::-webkit-scrollbar-thumb,
  #tags-overview::-webkit-scrollbar-thumb,
  #folders-overview::-webkit-scrollbar-thumb,
  #tips::-webkit-scrollbar-thumb,
  .tagify__dropdown__wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
  }
  .input-description {
    color: #777;
  }
  .tagify__dropdown__wrapper {
    background: #111;
  }
  .tagify__dropdown__item {
    color: #ccc;
    background: #000;
  }
  .tagify__tag > div > [contenteditable] {
    color: #eee;
  }
}
