/* Edit Bookmark Page */

#edit-bm {
  padding: 0;
  overflow: hidden;
  width: 515px;
  height: 556px;
  background: var(--bg);
  position: relative;
}

#edit-bm .heading {
  margin: 4px 8px;
}
#bm-load {
  padding: 12px;
  font-size: 16px;
}

/* Action Buttons */
#bm-del {
  background: #ee4343;
  color: #fff;
  float: left;
}
#bm-cancel {
  background: #929292;
  color: #fff;
}
#bm-save {
  background: #5fc944;
  color: #fff;
}

/* Form Fields */
#bm-title {
  height: 114px;
  resize: none;
  font-size: 1em;
  margin-top: 8px;
}
#bm-url {
  height: 76px;
  resize: none;
  font-size: 0.85em;
}

#bm-tags,
#edit-bm .tagify {
  height: 85px;
  font-size: 18px;
  border: none;
  padding: 4px 2px;
  overflow-x: hidden;
}

/* Tagify Library Overrides */
.tagify {
  height: 90px;
  border: none;
  --tag-bg: #557292;
  --tag-hover: #5c84af;
  --tagify-dd-color-primary: #557292;
  --tag-text-color: #fff;
  --tag-text-color--edit: #111;
  --tag-remove-bg: var(--tag-hover);
  --tag-pad: 2px 8px 4px;
  --tag-inset-shadow-size: 1.35em;
  --tag-remove-btn-bg--hover: #000;
}

.tagify__tag {
  margin: 6px 0 5px 6px;
}
.tagify__tag > div {
  font-size: 15px;
}

/* Dropdown */
.tagify__dropdown {
  max-height: 217px;
  border: none;
}
.tagify__dropdown__wrapper {
  border: none;
}
.tagify__dropdown__item {
  padding: 3px 8px;
  background: #fff;
}
.tagify__dropdown__item--active {
  background: #557292 !important;
}

@media (prefers-color-scheme: dark) {
  #edit-bm a:hover {
    color: var(--a);
  }
  #edit-bm mark {
    color: var(--mark);
  }
  .tagify__dropdown__wrapper {
    background: #111;
  }
  .tagify__dropdown__item {
    color: #ccc;
    background: #000;
  }
  .tagify__tag > div > [contenteditable] {
    color: #eee;
  }
}
