.favicon-col {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -3px;
  flex-shrink: 0;
}

.favicon {
  width: 16px;
  height: 16px;
  display: block;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.favicon.loaded {
  opacity: 1;
}
