/* Options Page */

#options {
  width: 515px;
  height: 556px;
  position: relative;
}
#options .heading {
  margin: 4px 8px;
}

/* Config Textarea */
#options textarea {
  height: 450px;
  font-size: 18px;
  font-family: Consolas, monospace;
  resize: none;
}

#options .controls {
  bottom: 12px;
}

/* Help Box */
#options .help {
  padding: 2px 6px;
  background: var(--li-bg);
  border-left: 4px solid var(--a);
  font-size: 0.9em;
}

/* Action Buttons */
#opt-help {
  background: #4494c9 !important;
  color: #fff !important;
  float: left;
}
#opt-cancel {
  background: #929292;
  color: #fff;
}
#opt-reset {
  background: #ee4343;
  color: #fff;
}
#opt-save {
  background: #5fc944;
  color: #fff;
}
