/* Tags & Folders Overview Pages */

#tags-view,
#folders-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 515px;
  height: 556px;
  background: var(--bg);
  padding: 8px;
  overflow-y: scroll;
}

/* Error List Position Override */
#tags #errors,
#folders #errors {
  top: 0;
}

#tags-list,
#folders-list {
  width: 100%;
}
#tags-list a,
#folders-list a {
  color: #fff;
  font-size: 15px;
  margin: 4px 4px 0 0;
}

@media (prefers-color-scheme: dark) {
  #tags a,
  #folders a {
    color: var(--a);
  }
  #tags mark,
  #folders mark {
    color: var(--mark);
  }
}
